* {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h1 {
    text-align: center;
    color: #e9e8ea;
    font-size: 50px;
    margin: 0;
}

.content {
    margin-top: 50px;
}

